@page "/"

<PageTitle>Index</PageTitle>

<h3>This is a Blazor application for storing employees and their salaries.</h3>

<p>
<h4>You can create and remove employees from the Employee page which can be accessed from the sidebar.</h4>
<h4>Accessing the currently active taxes by which an employee's Net salary is calculated can be done from the Taxes link from the sidebar.</h4>
</p>
